.Topnav{
  /*text-align: center;*/
  /*display: flex;*/
  /*position: center;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: space-evenly;*/
  /*box-sizing: border-box;*/
  width: 15.1875rem;
  padding-bottom: 112px;
  height: 100%;
  position: absolute;
  top: 5rem;
  left: 0;
  padding-top: 0;
  z-index: 99;
  transition: all .2s ease;
  background: #87dadc;
  /*height:60px;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);*/
}

.registration {
  text-align: right;
  display:table;
  margin:10px auto auto auto;
  padding:0;
  height:30px;
}
.active{
  display:inline;
  height:60px;
  width: 120px;
  display:inline-block;
  padding:0 20px;
  line-height:60px;
  color:#FFF;
  font-family:"\5FAE\8F6F\96C5\9ED1";
  font-size:16px}
.logon{
  display: inline;
  display: inline-block;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: #00b0ff;
}
/*#search {*/
  /*position:center;*/
  /*width: 500px;*/
  /*height: 60px;*/
  /*border-radius: 18px;*/
  /*outline: none;*/
  /*border: 1px solid #ccc;*/
  /*padding-left: 20px;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);*/
  /*text-align: center;*/
/*}*/
button {
  background-color: cadetblue;
  border-radius: 18px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);
}
.opt{width: 5rem;}
h1{
  text-align: center;
  font:bold 55px/100% "华文隶书", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
  color: #fff;
  color: navy;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 40px cornflowerblue,
  0 0 70px dodgerblue;
  margin:5% 0;
}
h2{
  text-align: center;
}
row{
  text-align: center;
  left: 50%;
}
changeT{
  text-align: center;
}
#cart{
  text-align: center;
  display: flex;
  position: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
[data-nav-headerbg="color_1"] .nav-header {
  background-color:cadetblue;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #76838f;
  text-align: left;
  background-color: #F3F3F9;
}
.header {
  height: 5rem;
  z-index: 1;
  position: absolute;
  width: 100%;
  top:0;
  padding: 0 0.9375rem;
  background: #87dadc;
  margin-left: 15.1875rem;
  transition: all .2s ease;
}
.nav-header {
  height: 5rem;
  width: 15.1875rem;
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  background: #4c7e80;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  transition: all .2s ease;
}

div{display: block}
li {
  height: 5rem;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.content-body {
  margin-left: 15.1875rem;
  margin-top: 7rem;
  z-index: 0;
}
