.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #805774;
}
td{
    text-align: center;
}
table, td, th
{
    border:1px solid #e70b6b;
}

th
{
    background-color: #e70b6b;
    color:white;
}
.dire{
    text-align: center;
    display: flex;
    position: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: #ff89f2;
    height:60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);

}
h2{
    color: #770069;
}

.container {
    width: 650px;
    margin: 100px auto;

}
.search {
    position:center;
    width: 500px;
    height: 60px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);
}
.button {
    background-color: deeppink;
    border-radius: 18px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.10);
}
h1{
    text-align: center;
    font:bold 55px/100% "华文隶书", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    color: #fff;
    color: deeppink;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 40px palevioletred,
    0 0 70px purple;
}

.logon{
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: hotpink;
}



/*登陆*/
.container{
    width: 1200px;
    height: 870px;
    margin: 0 auto;
    /* 	background: #ccc; */
}
/* 导航 */
.nav{
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
}
.nav ul li{
    float: right;
    font-size: 15px;
}
.nav ul li a{
    text-decoration: none;
    color: #152b3c;
    padding:15px 30px;
}
.nav ul li a:hover{
    border: 1px solid white;
    border-radius:5%;
    color: white;
}
.main{
    width:1200px;
    height: 450px;
}
.index{
    width: 480px;
    height: 450px;
    float: right;
}
.index{
    width: 330px;
    height: 350px;
    background-color:rgba(255,255,255,0.75);
    margin: 50px 90px;
}
.headline{
    font-size: 22px;
    text-align: center;
    padding: 20px;
}
regi1,regi2
submit1{
    -web-kit-appearance:none;
    -moz-appearance: none;
    display: block;
    margin: 0 auto;
    font-size:15px;
    width: 240px;
}
reg1,reg2{
    height:35px;
    border-radius:3px;
    border:1px solid #eabfdd;
    color:#6a6f77;
    outline:0;
}
submit1{
    margin-top: 25px;
    height: 35px;
    background: #b85fb7;
    color: #fed7ff;
    font-weight: bold;
    font-size: 16px;
}
submit1:hover{
    background: #ff89f2;
    cursor: pointer;
}
.as1{
    margin: 5px 0 5px 42px;
    font-size:17px;
    color: #6a6f77;
}
.bs1{
    display: block;
    float: left;
    margin-left: 46px;
    font-size: 15px;
}
.cs1{
    display: block;
    float: right;
    margin-right: 46px;
    font-size: 15px;
}
.cs1 a{
    text-decoration: none;
}